<?xml version="1.0" standalone="yes"?>

<!-- Episodic BEAST XML template -->
<!-- This Jinja2 template is used to generate a BEAST XML file -->
<beast version="1.10.4">
	<!-- The list of taxa to be analysed -->
	<taxa id="taxa">
		{% for taxon in taxa %}
		<taxon id="{{ taxon.id }}">
			<date value="{{ taxon.date }}" direction="forwards" units="years" uncertainty="{{ taxon.uncertainty }}"/>
		</taxon>
		{% endfor %}
	</taxa >

	<!-- Groups for FLC -->
	{% for group in groups %}
    <taxa id="{{ group }}">
		{% for taxon in taxa -%}
		{% if group is in taxon.id %}
		<taxon idref="{{ taxon.id }}"/>
		{% endif %}
		{%- endfor %}
    </taxa>
	{% endfor %}

	<!-- The sequence alignments (each sequence refers to a taxon above). -->
	{% for partition in partitions %}
	<alignment id="alignment.{{ partition.prefix }}" dataType="nucleotide">
		{% for taxon in partition.taxa %}
		<sequence>
			<taxon idref="{{ taxon.id }}"/>
			{{ taxon.sequence }}
		</sequence>
		{% endfor %}
	</alignment>

	<patterns id="patterns.{{ partition.prefix }}" from="1" strip="false">
		<alignment idref="alignment.{{ partition.prefix }}"/>
	</patterns>
	{% endfor %}

	<!-- A prior assumption that the population size has grown exponentially -->
	<exponentialGrowth id="exponential" units="years">
		<populationSize>
			<parameter id="exponential.popSize" value="1.0" lower="0.0"/>
		</populationSize>
		<growthRate>
			<parameter id="exponential.growthRate" value="0.0"/>
		</growthRate>
	</exponentialGrowth>

	<!-- Generate a starting tree -->
	{% if fixedTree %}
	<newick id="startingTree">{{fixedTree}}</newick>
	{% else %}
	<coalescentSimulator id="startingTree">
		{% for group in groups %}
        <coalescentSimulator>
            <taxa idref="{{ group }}"/>
            <exponentialGrowth idref="exponential"/>
        </coalescentSimulator>
		{% endfor %}
        <taxa idref="taxa"/>
        <exponentialGrowth idref="exponential"/>
    </coalescentSimulator>
	{% endif %}

	<!-- Generate a tree model -->
	<treeModel id="treeModel">
		{% if fixedTree %}
		<newick idref="startingTree"/>
		{% else %}
		<coalescentTree idref="startingTree"/>
		{% endif %}
		<rootHeight>
			<parameter id="treeModel.rootHeight"/>
		</rootHeight>
		<nodeHeights internalNodes="true">
			<parameter id="treeModel.internalNodeHeights"/>
		</nodeHeights>
		<nodeHeights internalNodes="true" rootNode="true">
			<parameter id="treeModel.allInternalNodeHeights"/>
		</nodeHeights>
	</treeModel>

	<!-- Statistic for sum of the branch lengths of the tree (tree length) -->
	<treeLengthStatistic id="treeLength">
		<treeModel idref="treeModel"/>
	</treeLengthStatistic>

	<!-- Statistic for time of most recent common ancestor of tree -->
	<tmrcaStatistic id="age(root)" absolute="true">
		<treeModel idref="treeModel"/>
	</tmrcaStatistic>

	<!-- Taxon Sets -->
	{% for group in groups %}
	<tmrcaStatistic id="tmrca({{ group }})" absolute="false" includeStem="false">
		<mrca>
			<taxa idref="{{ group }}"/>
		</mrca>
		<treeModel idref="treeModel"/>
	</tmrcaStatistic>
	<tmrcaStatistic id="age({{ group }})" absolute="true" includeStem="false">
		<mrca>
			<taxa idref="{{ group }}"/>
		</mrca>
		<treeModel idref="treeModel"/>
	</tmrcaStatistic>
	<monophylyStatistic id="monophyly({{ group }})">
		<mrca>
			<taxa idref="{{ group }}"/>
		</mrca>
		<treeModel idref="treeModel"/>
	</monophylyStatistic>
	{% endfor %}

	<!-- Generate a coalescent likelihood -->
	<coalescentLikelihood id="coalescent">
		<model>
			<exponentialGrowth idref="exponential"/>
		</model>
		<populationTree>
			<treeModel idref="treeModel"/>
		</populationTree>
	</coalescentLikelihood>

	{% macro branchRatesRef(partition) %}
	{% if clock == 'strict' %}
	<strictClockBranchRates idref="branchRates.{{ partition.prefix }}"/>
	{% elif clock == 'relaxed' %}
	<discretizedBranchRates idref="branchRates.{{ partition.prefix }}"/>
	{% elif 'flc' in clock %}
	<localClockModel idref="branchRates.{{ partition.prefix }}"/>
	{% endif %}
	{% endmacro %}

	{% for partition in partitions %}
	{% if clock == 'strict' %}
	<strictClockBranchRates id="branchRates.{{ partition.prefix }}">
		<rate>
			<parameter id="{{ partition.prefix }}.clock.rate" value="1.0" lower="0.0"/>
		</rate>
	</strictClockBranchRates>
	{% elif clock == 'relaxed' %}
	<discretizedBranchRates id="branchRates.{{ partition.prefix }}">
		<treeModel idref="treeModel"/>
		<distribution>
			<gammaDistributionModel>
				<mean>
					<parameter id="{{ partition.prefix }}.ucgd.mean" value="1.0" lower="0.0"/>
				</mean>
				<shape>
					<parameter id="{{ partition.prefix }}.ucgd.shape" value="0.3333333333333333" lower="0.0"/>
				</shape>
			</gammaDistributionModel>
		</distribution>
		<rateCategories>
			<parameter id="branchRates.{{ partition.prefix }}.categories"/>
		</rateCategories>
	</discretizedBranchRates>
	{% elif 'flc' in clock %}
	<localClockModel id="branchRates.{{ partition.prefix }}">
		<treeModel idref="treeModel"/>
		<rate>
			<parameter id="{{ partition.prefix }}.clock.rate" value="1.0" lower="0.0"/>
		</rate>
		{% for group in groups %}
		{% if  clock == 'flc-stem' %}
		<clade includeStem="true" excludeClade="true">
			<parameter id="{{ partition.prefix }}.{{ group }}.stem.rate" value="1.0" lower="0.0"/>
			<taxa idref="{{ group }}"/>
		</clade>
		{% elif clock == 'flc-shared-stem' %}
		<clade includeStem="true" excludeClade="true">
			{% if loop.first %}
			<parameter id="{{ partition.prefix }}.stem.rate" value="1.0" lower="0.0"/>
			{% else %}
			<rate idref="{{ partition.prefix }}.stem.rate"/>
			{% endif %}
			<taxa idref="{{ group }}"/>
		</clade>
		{% elif clock == 'flc-clade' %}
		<clade includeStem="false" excludeClade="false">
			<parameter id="{{ partition.prefix }}.{{ group }}.clade.rate" value="1.0" lower="0.0"/>
			<taxa idref="{{ group }}"/>
		</clade>
		{% elif clock == 'flc-shared-clade' %}
		<clade includeStem="false" excludeClade="false">
			{% if loop.first %}
			<parameter id="{{ partition.prefix }}.clade.rate" value="1.0" lower="0.0"/>
			{% else %}
			<rate idref="{{ partition.prefix }}.clade.rate"/>
			{% endif %}
			<taxa idref="{{ group }}"/>
		</clade>
		{% elif clock == 'flc-stem-and-clade' %}
		<clade includeStem="true" excludeClade="false">
			<parameter id="{{ partition.prefix }}.{{ group }}.stem_and_clade.rate" value="1.0" lower="0.0"/>
			<taxa idref="{{ group }}"/>
		</clade>
		{% elif clock == 'flc-shared-stem-and-clade' %}
		<clade includeStem="true" excludeClade="false">
			{% if loop.first %}
			<parameter id="{{ partition.prefix }}.stem_and_clade.rate" value="1.0" lower="0.0"/>
			{% else %}
			<rate idref="{{ partition.prefix }}.stem_and_clade.rate"/>
			{% endif %}
			<taxa idref="{{ group }}"/>
		</clade>
		{% endif %}
		{% endfor %}
		<externalBranches>
			<parameter idref="{{ partition.prefix }}.clock.rate"/>
			{% for group in groups %}
			<taxa idref="{{ group }}"/>
			{% endfor %}
		</externalBranches>
	</localClockModel>
	{% endif %}

	<rateStatistic id="{{ partition.prefix }}.meanRate" name="{{ partition.prefix }}.meanRate" mode="mean" internal="true" external="true">
		<treeModel idref="treeModel"/>
		{{ branchRatesRef(partition) }}
	</rateStatistic>

	<rateStatistic id="{{ partition.prefix }}.coefficientOfVariation" name="{{ partition.prefix }}.coefficientOfVariation" mode="coefficientOfVariation" internal="true" external="true">
		<treeModel idref="treeModel"/>
		{{ branchRatesRef(partition) }}
	</rateStatistic>

	<rateCovarianceStatistic id="{{ partition.prefix }}.covariance" name="{{ partition.prefix }}.covariance">
		<treeModel idref="treeModel"/>
		{{ branchRatesRef(partition) }}
	</rateCovarianceStatistic>

	<gtrModel id="gtr.{{ partition.prefix }}">
		<frequencies>
			<frequencyModel dataType="nucleotide">
				<alignment idref="alignment.{{ partition.prefix }}"/>
				<frequencies>
					<parameter id="{{ partition.prefix }}.frequencies" dimension="4"/>
				</frequencies>
			</frequencyModel>
		</frequencies>
		<rates>
			<parameter id="{{ partition.prefix }}.gtr.rates" dimension="6" value="1.0" lower="0.0"/>
		</rates>
	</gtrModel>

	<siteModel id="siteModel.{{ partition.prefix }}">
		<substitutionModel>
			<gtrModel idref="gtr.{{ partition.prefix }}"/>
		</substitutionModel>
		<relativeRate>
			<parameter id="{{ partition.prefix }}.mu" value="1.0" lower="0.0"/>
		</relativeRate>
		<gammaShape gammaCategories="4">
			<parameter id="{{ partition.prefix }}.alpha" value="0.5" lower="0.0"/>
		</gammaShape>
	</siteModel>

	<treeDataLikelihood id="treeLikelihood.{{ partition.prefix }}" useAmbiguities="false">
		<partition>
			<patterns idref="patterns.{{ partition.prefix }}"/>
			<siteModel idref="siteModel.{{ partition.prefix }}"/>
		</partition>
		<treeModel idref="treeModel"/>
		{{ branchRatesRef(partition) }}
	</treeDataLikelihood>
	{% endfor %}

	<!-- Define operators -->
	<operators id="operators" optimizationSchedule="default">
		{% for partition in partitions %}
		<deltaExchange delta="0.01" weight="1">
			<parameter idref="{{ partition.prefix }}.gtr.rates"/>
		</deltaExchange>
		<scaleOperator scaleFactor="0.75" weight="1">
			<parameter idref="{{ partition.prefix }}.alpha"/>
		</scaleOperator>
		{% if clock == 'strict' %}
		<scaleOperator scaleFactor="0.75" weight="3">
			<parameter idref="{{ partition.prefix }}.clock.rate"/>
		</scaleOperator>
		<upDownOperator scaleFactor="0.75" weight="3">
			<up>
				<parameter idref="treeModel.allInternalNodeHeights"/>
			</up>
			<down>
				<parameter idref="{{ partition.prefix }}.clock.rate"/>
			</down>
		</upDownOperator>
		{% endif %}
		{% if clock == 'relaxed' %}
		<scaleOperator scaleFactor="0.75" weight="3">
			<parameter idref="{{ partition.prefix }}.ucgd.mean"/>
		</scaleOperator>
		<scaleOperator scaleFactor="0.75" weight="3">
			<parameter idref="{{ partition.prefix }}.ucgd.shape"/>
		</scaleOperator>
		<upDownOperator scaleFactor="0.75" weight="3">
			<up>
				<parameter idref="treeModel.allInternalNodeHeights"/>
			</up>
			<down>
				<parameter idref="{{ partition.prefix }}.ucgd.mean"/>
			</down>
		</upDownOperator>
		<swapOperator size="1" weight="10" autoOptimize="false">
			<parameter idref="branchRates.{{ partition.prefix }}.categories"/>
		</swapOperator>
		<uniformIntegerOperator weight="10">
			<parameter idref="branchRates.{{ partition.prefix }}.categories"/>
		</uniformIntegerOperator>
		{% elif 'flc' in clock %}
		<scaleOperator scaleFactor="0.75" weight="3">
			<parameter idref="{{ partition.prefix }}.clock.rate"/>
		</scaleOperator>
		{% if clock == 'flc-stem' %}
		{% for group in groups %}
		<scaleOperator scaleFactor="0.75" weight="3">
			<parameter idref="{{ partition.prefix }}.{{ group }}.stem.rate"/>
		</scaleOperator>
		{% endfor %}
		{% elif clock == 'flc-shared-stem' %}
		<scaleOperator scaleFactor="0.75" weight="3">
			<parameter idref="{{ partition.prefix }}.stem.rate"/>
		</scaleOperator>
		{% elif clock == 'flc-clade' %}
		{% for group in groups %}
		<scaleOperator scaleFactor="0.75" weight="3">
			<parameter idref="{{ partition.prefix }}.{{ group }}.clade.rate"/>
		</scaleOperator>
		{% endfor %}
		{% elif clock == 'flc-shared-clade' %}
		<scaleOperator scaleFactor="0.75" weight="3">
			<parameter idref="{{ partition.prefix }}.clade.rate"/>
		</scaleOperator>
		{% elif clock == 'flc-stem-and-clade' %}
		{% for group in groups %}
		<scaleOperator scaleFactor="0.75" weight="3">
			<parameter idref="{{ partition.prefix }}.{{ group }}.stem_and_clade.rate"/>
		</scaleOperator>
		{% endfor %}
		{% elif clock == 'flc-shared-stem-and-clade' %}
		<scaleOperator scaleFactor="0.75" weight="3">
			<parameter idref="{{ partition.prefix }}.stem_and_clade.rate"/>
		</scaleOperator>
		{% endif %}
		{% endif %}
		{% endfor %}
		{% if not fixedTree %}
		<subtreeSlide size="1.0" gaussian="true" weight="30">
			<treeModel idref="treeModel"/>
		</subtreeSlide>
		<narrowExchange weight="30">
			<treeModel idref="treeModel"/>
		</narrowExchange>
		<wideExchange weight="3">
			<treeModel idref="treeModel"/>
		</wideExchange>
		<wilsonBalding weight="3">
			<treeModel idref="treeModel"/>
		</wilsonBalding>
		{% endif %}
		<scaleOperator scaleFactor="0.75" weight="3">
			<parameter idref="treeModel.rootHeight"/>
		</scaleOperator>
		<uniformOperator weight="30">
			<parameter idref="treeModel.internalNodeHeights"/>
		</uniformOperator>
		<scaleOperator scaleFactor="0.75" weight="3">
			<parameter idref="exponential.popSize"/>
		</scaleOperator>
		<randomWalkOperator windowSize="1.0" weight="3">
			<parameter idref="exponential.growthRate"/>
		</randomWalkOperator>
	</operators>

	<!-- Define MCMC -->
	<mcmc id="mcmc" chainLength="{{ chainLength }}" autoOptimize="true">
		<joint id="joint">
			<prior id="prior">
				<booleanLikelihood>
					{% for group in groups %}
					<monophylyStatistic idref="monophyly({{ group }})"/>
					{% endfor %}
				</booleanLikelihood>
				{% for partition in partitions %}
				<dirichletPrior alpha="1.0" sumsTo="6.0">
					<parameter idref="{{ partition.prefix }}.gtr.rates"/>
				</dirichletPrior>
				<exponentialPrior mean="0.5" offset="0.0">
					<parameter idref="{{ partition.prefix }}.alpha"/>
				</exponentialPrior>
				{% if clock == 'strict' %}
				<gammaPrior shape="{{ rateGammaPriorShape }}" scale="{{ rateGammaPriorScale }}" offset="0.0">
					<parameter idref="{{ partition.prefix }}.clock.rate"/>
				</gammaPrior>
				{% elif clock == 'relaxed' %}
				<gammaPrior shape="{{ rateGammaPriorShape }}" scale="{{ rateGammaPriorScale }}" offset="0.0">
					<parameter idref="{{ partition.prefix }}.ucgd.mean"/>
				</gammaPrior>
				<exponentialPrior mean="0.3333333333333333" offset="0.0">
					<parameter idref="{{ partition.prefix }}.ucgd.shape"/>
				</exponentialPrior>
				{% elif 'flc' in clock %}
				<gammaPrior shape="{{ rateGammaPriorShape }}" scale="{{ rateGammaPriorScale }}" offset="0.0">
					<parameter idref="{{ partition.prefix }}.clock.rate"/>
				</gammaPrior>
				{% if clock == 'flc-stem' %}
				{% for group in groups %}
				<gammaPrior shape="{{ rateGammaPriorShape }}" scale="{{ rateGammaPriorScale }}" offset="0.0">
					<parameter idref="{{ partition.prefix }}.{{ group }}.stem.rate"/>
				</gammaPrior>
				{% endfor %}
				{% elif clock == 'flc-shared-stem' %}
				<gammaPrior shape="{{ rateGammaPriorShape }}" scale="{{ rateGammaPriorScale }}" offset="0.0">
					<parameter idref="{{ partition.prefix }}.stem.rate"/>
				</gammaPrior>
				{% elif clock == 'flc-clade' %}
				{% for group in groups %}
				<gammaPrior shape="{{ rateGammaPriorShape }}" scale="{{ rateGammaPriorScale }}" offset="0.0">
					<parameter idref="{{ partition.prefix }}.{{ group }}.clade.rate"/>
				</gammaPrior>
				{% endfor %}
				{% elif clock == 'flc-shared-clade' %}
				<gammaPrior shape="{{ rateGammaPriorShape }}" scale="{{ rateGammaPriorScale }}" offset="0.0">
					<parameter idref="{{ partition.prefix }}.clade.rate"/>
				</gammaPrior>
				{% elif clock == 'flc-stem-and-clade' %}
				{% for group in groups %}
				<gammaPrior shape="{{ rateGammaPriorShape }}" scale="{{ rateGammaPriorScale }}" offset="0.0">
					<parameter idref="{{ partition.prefix }}.{{ group }}.stem_and_clade.rate"/>
				</gammaPrior>
				{% endfor %}
				{% elif clock == 'flc-shared-stem-and-clade' %}
				<gammaPrior shape="{{ rateGammaPriorShape }}" scale="{{ rateGammaPriorScale }}" offset="0.0">
					<parameter idref="{{ partition.prefix }}.stem_and_clade.rate"/>
				</gammaPrior>
				{% endif %}
				{% endif %}
				{{ branchRatesRef(partition) }}
				{% endfor %}
				<exponentialPrior mean="100.0" offset="0.0">
					<parameter idref="exponential.popSize"/>
				</exponentialPrior>
				<laplacePrior mean="0.0" scale="10.0">
					<parameter idref="exponential.growthRate"/>
				</laplacePrior>
				<coalescentLikelihood idref="coalescent"/>
			</prior>
			<likelihood id="likelihood">
				{% for partition in partitions %}
				<treeDataLikelihood idref="treeLikelihood.{{ partition.prefix }}"/>
				{% endfor %}
			</likelihood>
		</joint>
		<operators idref="operators"/>

		<!-- write log to screen -->
		<log id="screenLog" logEvery="{{ screenLogEvery }}">
			<column label="Joint" dp="4" width="12">
				<joint idref="joint"/>
			</column>
			<column label="Prior" dp="4" width="12">
				<prior idref="prior"/>
			</column>
			<column label="Likelihood" dp="4" width="12">
				<likelihood idref="likelihood"/>
			</column>
			<column label="age(root)" sf="6" width="12">
				<tmrcaStatistic idref="age(root)"/>
			</column>
			{% for partition in partitions %}
			{% if clock == 'strict' %}
			<column label="{{ partition.prefix }}.clock.rate" sf="6" width="16">
				<parameter idref="{{ partition.prefix }}.clock.rate"/>
			</column>
			{% elif clock == 'relaxed' %}
			<column label="{{ partition.prefix }}.ucgd.mean" sf="6" width="16">
				<parameter idref="{{ partition.prefix }}.ucgd.mean"/>
			</column>
			{% elif 'flc' in clock %}
			<column label="{{ partition.prefix }}.clock.rate" sf="6" width="16">
				<parameter idref="{{ partition.prefix }}.clock.rate"/>
			</column>
			{% endif %}
			{% endfor %}
		</log>

		{% if traceLog %}
		<log id="fileLog" logEvery="{{ traceLog.log_every }}" fileName="{{ traceLog.file_name }}" overwrite="false">
			<joint idref="joint"/>
			<prior idref="prior"/>
			<likelihood idref="likelihood"/>
			<parameter idref="treeModel.rootHeight"/>
			<tmrcaStatistic idref="age(root)"/>
			<treeLengthStatistic idref="treeLength"/>
			{% for group in groups %}
			<tmrcaStatistic idref="tmrca({{ group }})"/>
			<tmrcaStatistic idref="age({{ group }})"/>
			{% endfor %}
			<parameter idref="exponential.popSize"/>
			<parameter idref="exponential.growthRate"/>
			{% for partition in partitions %}
			<parameter idref="{{ partition.prefix }}.gtr.rates"/>
			<parameter idref="{{ partition.prefix }}.alpha"/>
			{% if clock == 'strict' %}
			<parameter idref="{{ partition.prefix }}.clock.rate"/>
			{% elif clock == 'relaxed' %}
			<parameter idref="{{ partition.prefix }}.ucgd.mean"/>
			<parameter idref="{{ partition.prefix }}.ucgd.shape"/>
			{% elif 'flc' in clock %}
			<parameter idref="{{ partition.prefix }}.clock.rate"/>
			{% if clock == 'flc-stem' %}
			{% for group in groups %}
			<parameter idref="{{ partition.prefix }}.{{ group }}.stem.rate"/>
			{% endfor %}
			{% elif clock == 'flc-shared-stem' %}
			<parameter idref="{{ partition.prefix }}.stem.rate"/>
			{% elif clock == 'flc-clade' %}
			{% for group in groups %}
			<parameter idref="{{ partition.prefix }}.{{ group }}.clade.rate"/>
			{% endfor %}
			{% elif clock == 'flc-shared-clade' %}
			<parameter idref="{{ partition.prefix }}.clade.rate"/>
			{% elif clock == 'flc-stem-and-clade' %}
			{% for group in groups %}
			<parameter idref="{{ partition.prefix }}.{{ group }}.stem_and_clade.rate"/>
			{% endfor %}
			{% elif clock == 'flc-shared-stem-and-clade' %}
			<parameter idref="{{ partition.prefix }}.stem_and_clade.rate"/>
			{% endif %}
			{% endif %}
			<rateStatistic idref="{{ partition.prefix }}.meanRate"/>
			<rateStatistic idref="{{ partition.prefix }}.coefficientOfVariation"/>
			{% if clock == 'relaxed' -%}
			<rateCovarianceStatistic idref="{{ partition.prefix }}.covariance"/>
			{%- endif %}
			<treeDataLikelihood idref="treeLikelihood.{{ partition.prefix }}"/>
			{{ branchRatesRef(partition) }}
			{% endfor %}
			<coalescentLikelihood idref="coalescent"/>
		</log>
		{% endif %}

		{% if treeLog %}
		<logTree id="treeFileLog" logEvery="{{ treeLog.log_every }}" nexusFormat="true" fileName="{{ treeLog.file_name }}" sortTranslationTable="true">
			<treeModel idref="treeModel"/>
			{% for partition in partitions %}
			<trait name="rate" tag="{{ 'rate' if loop.first else partition.prefix ~ '.rate' }}">
				{{ branchRatesRef(partition) }}
			</trait>
			{% endfor %}
			<joint idref="joint"/>
		</logTree>
		{% endif %}
	</mcmc>

	{% if marginalLikelihoodEstimator %}
	<marginalLikelihoodEstimator chainLength="{{ marginalLikelihoodEstimator.chain_length }}" pathSteps="{{ marginalLikelihoodEstimator.path_steps }}" pathScheme="betaquantile" alpha="0.3">
		<samplers>
			<mcmc idref="mcmc"/>
		</samplers>
		<pathLikelihood id="pathLikelihood">
			<source>
				<joint idref="joint"/>
			</source>
			<destination>
				<prior idref="prior"/>
			</destination>
		</pathLikelihood>
		<log id="MLELog" logEvery="{{ marginalLikelihoodEstimator.log_every }}" fileName="{{ marginalLikelihoodEstimator.file_name }}">
			<pathLikelihood idref="pathLikelihood"/>
		</log>
	</marginalLikelihoodEstimator>

	<pathSamplingAnalysis fileName="{{ marginalLikelihoodEstimator.file_name }}" resultsFileName="{{ marginalLikelihoodEstimator.results_file_name }}">
		<likelihoodColumn name="pathLikelihood.delta"/>
		<thetaColumn name="pathLikelihood.theta"/>
	</pathSamplingAnalysis>

	<steppingStoneSamplingAnalysis fileName="{{ marginalLikelihoodEstimator.file_name }}" resultsFileName="{{ marginalLikelihoodEstimator.results_file_name }}">
		<likelihoodColumn name="pathLikelihood.delta"/>
		<thetaColumn name="pathLikelihood.theta"/>
	</steppingStoneSamplingAnalysis>
	{% endif %}

	<report>
		<property name="timer">
			<mcmc idref="mcmc"/>
		</property>
	</report>

</beast>
